<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <link rel="icon" href="images/mercado-libre.png">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3ccff27ec3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="site">
            <div class="logo_busqueda">
                <img src="images/logo-mercado-liebre.svg" class="logo">
                <div class="buscar">
                    <input class="buscador" value="Buscar productos, marcas y más"></input>
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <p class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de créditos</p>
        </div>
        <nav class="barra-nav"> 
            <ul class="listas">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="listaslogin">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <section>
            <img class="banner" src="images/img-home-banner.jpg">
        </section>
    </header>
    
    <main>
        <h2 class="titulares">Basado en tu última visita</h2>
        <section class="vistos">
            <article class="articulo">
                <img class="imagenarticulo" src="images/img-cafetera-moulinex.jpg" >
                <div class="datos">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <article class="numero">
                        <h3 class = "precio">$6.770</h3>
                        <h3 class = "descuentos">40%OFF</h3>
                    </article>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </article>
            
            <article class="articulo">
                <img class="imagenarticulo" src="images/img-macbook-pro-2019.jpg" >
                <div class="datos">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <article class="numero">
                        <h3 class = "precio">$230.000</h3>
                        <h3 class = "descuentos">20%OFF</h3>
                    </article>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>
            </article>
            
            <article class="articulo">
                <img class="imagenarticulo" src="images/img-samsung-galaxy-s10.jpg" >
                <div class="datos">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <article class="numero">
                        <h3 class = "precio">$70.500</h3>
                        <h3 class = "descuentos">10%OFF</h3>
                    </article>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>
            </article>
            
            <article class="articulo">
                <img class="imagenarticulo" src="images/img-tv-samsung-smart.jpg" >
                <div class="datos">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <article class="numero">
                        <h3 class = "precio">$23.200</h3>
                        <h3 class = "descuentos">50%OFF</h3>
                    </article>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </div>
            </article>          
        </section>
        <h2 class="titulares">Ofertas</h2>
        <section class="vistos">
            <article class="articulo">
                <img class="imagenarticulo" src="images/img-cafetera-moulinex.jpg" >
                <div class="datos">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <article class="numero">
                        <h3 class = "precio">$6.770</h3>
                        <h3 class = "descuentos">40%OFF</h3>
                    </article>
                    <h3 class="descripcion">Cafetera Moulinex</h3>
                </div>
            </article>
            
            <article class="articulo">
                <img  class="imagenarticulo" src="images/img-macbook-pro-2019.jpg" >
                <div class="datos">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <article class="numero">
                        <h3 class = "precio">$230.000</h3>
                        <h3 class = "descuentos">20%OFF</h3>
                    </article>
                    <h3 class="descripcion">MacBook Pro 2019</h3>
                </div>
            </article>
            
            <article class="articulo">
                <img class="imagenarticulo" src="images/img-samsung-galaxy-s10.jpg" >
                <div class="datos">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <article class="numero">
                        <h3 class = "precio">$70.500</h3>
                        <h3 class = "descuentos">10%OFF</h3>
                    </article>
                    <h3 class="descripcion">Samsung Galaxy S10</h3>
                </div>
            </article>
            
            <article class="articulo">
                <img class="imagenarticulo" src="images/img-tv-samsung-smart.jpg" >
                <div class="datos">
                    <div class="camion">
                        <i class="fa-solid fa-truck"></i>
                    </div>
                    <article class="numero">
                        <h3 class = "precio">$23.200</h3>
                        <h3 class = "descuentos">50%OFF</h3> 
                    </article>
                    <h3 class="descripcion">SmartTv Samsung 43"</h3>
                </div>
            </article>
        </section>

    </main>
    <footer>
        <article class="iconofooter"><i class="fa-solid fa-credit-card"></i></article>
        <h2 class="titulo">Pagá con tarjeta o en efectivo</h2>
        <p class="debajotitulo">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>

        <article class="iconofooter"><i class="fa-solid fa-gift"></i></article>
        <h2 class="titulo">Envío gratis desde $2.500</h2>
        <p class="debajotitulo">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

        <article class="iconofooter"><i class="fa-solid fa-user-shield"></i></article>
        <h2 class="titulo">Seguridad, de principio a fin</h2>
        <p class="debajotitulo">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>

        <p class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>