<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MERCADO LIEBRE</title>
    <link rel="icon" href="images/mercado-libre.png">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/3ccff27ec3.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="site">
            <div class="logo_busqueda">
                <img src="images/logo-mercado-liebre.svg" class="logo">
                <div class="buscar">
                    <input class="buscador" value="Buscar productos, marcas y más"></input>
                    <button><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
            </div>
            <p class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de créditos</p>
        </div>
        <nav class="barra-nav"> 
            <ul class="listas">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="listaslogin">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <section>
            <img class="banner" src="images/img-home-banner.jpg">
        </section>
    </header>
        <main class="login">
            <form action="/" method="POST">
                <input type="text" name="user" placeholder="Nombre de usuario">
                <input type="password" name="pass" placeholder="Elegí tu contraseña">
                <input type="submit" value="Enviar">
            </form>
        </main>
        <footer>

        </footer>
    </body>
</html>